<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC Thymeleaf Example</title>
</head>
<body>
aaa
<!--<table data-th-if="${not #lists.isEmpty(contacts)}">-->
    <!--<tr>-->
        <!--<th>Firstname</th>-->
        <!--<th>Lastname</th>-->
    <!--</tr>-->
    <!--<tr data-th-each="contact : ${contacts}">-->
        <!--<td data-th-text="${contact.name}">The first name</td>-->
        <!--<td data-th-text="${contact.surname}">The last name</td>-->
    <!--</tr>-->
<!--</table>-->
</body>
</html>